<h2 mat-dialog-title>{{ 'INVASIONS.ADD_DIALOG_TITLE' | translate }}</h2>
<mat-dialog-content>
  <mat-tab-group animationDuration="200ms" class="alarm-tabs">
    <!-- Tab 1: Grunts -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>warning</mat-icon>
        <span class="tab-label">{{ 'INVASIONS.TAB_GRUNTS' | translate }}</span>
      </ng-template>
      <div class="tab-content">
        <mat-slide-toggle [checked]="trackAll()" (change)="trackAll.set($event.checked)">
          {{ 'INVASIONS.TRACK_ALL' | translate }}
        </mat-slide-toggle>
        <p class="track-all-hint">{{ 'INVASIONS.TRACK_ALL_HINT' | translate }}</p>

        @if (!trackAll()) {
          <h4>{{ 'INVASIONS.TEAM_ROCKET' | translate }}</h4>
          <div class="grunt-grid">
            @for (grunt of rocketGrunts(); track grunt.key) {
              <mat-checkbox [checked]="grunt.selected" (change)="toggleGrunt(grunt.key)">
                <img [src]="getGruntIcon(grunt)" class="grunt-type-icon" />
                {{ getGruntLabel(grunt) }}
              </mat-checkbox>
            }
          </div>

          <h4>{{ 'INVASIONS.POKESTOP_EVENTS' | translate }}</h4>
          <div class="grunt-grid event-grid">
            @for (evt of eventGrunts(); track evt.key) {
              <mat-checkbox [checked]="evt.selected" (change)="toggleGrunt(evt.key)">
                @if (evt.imgUrl) {
                  <img [src]="evt.imgUrl" class="grunt-type-icon" />
                } @else {
                  <mat-icon class="event-type-icon" [style.color]="evt.color">{{ evt.icon }}</mat-icon>
                }
                {{ getGruntLabel(evt) }}
              </mat-checkbox>
            }
          </div>

          @if (selectedCount() > 0) {
            <p class="selection-count">{{ 'INVASIONS.TYPES_SELECTED' | translate: { count: selectedCount() } }}</p>
          }
        }
        @if (showGender()) {
          <h4>{{ 'INVASIONS.GENDER_LABEL' | translate }}</h4>
          <mat-form-field appearance="outline" class="full-width"
            ><mat-label>{{ 'INVASIONS.GENDER_LABEL' | translate }}</mat-label>
            <mat-select [formControl]="form.controls.gender"
              ><mat-option [value]="0">{{ 'INVASIONS.GENDER_ANY' | translate }}</mat-option
              ><mat-option [value]="1">{{ 'INVASIONS.GENDER_MALE' | translate }}</mat-option
              ><mat-option [value]="2">{{ 'INVASIONS.GENDER_FEMALE' | translate }}</mat-option></mat-select
            >
          </mat-form-field>
        }
      </div>
    </mat-tab>

    <!-- Tab 2: Delivery -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>notifications</mat-icon>
        <span class="tab-label">{{ 'ALARM.TAB_DELIVERY' | translate }}</span>
      </ng-template>
      <div class="tab-content">
        <app-scope-picker [(scope)]="scope" />
        <h4>{{ 'ALARM.COMMON_SETTINGS' | translate }}</h4>
        <app-template-selector
          [alarmType]="'invasion'"
          [value]="form.controls.template.value ?? ''"
          (valueChange)="form.controls.template.setValue($event)"></app-template-selector>
        <mat-slide-toggle [formControl]="form.controls.clean"> {{ 'ALARM.CLEAN_MODE' | translate }} </mat-slide-toggle>
        <p class="clean-hint">{{ 'ALARM.CLEAN_HINT_INVASION' | translate }}</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close(false)">{{ 'ALARM.CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="saving() || !canSave()">
    {{ saving() ? ('ALARM.SAVING' | translate) : ('ALARM.SAVE' | translate) }}
  </button>
</mat-dialog-actions>
