@if (error()) {
  <div class="callback-container">
    <div class="callback-error">
      <mat-icon class="error-icon">error_outline</mat-icon>
      <h2>{{ 'AUTH.AUTH_FAILED' | translate }}</h2>
      <p>{{ error() }}</p>
      <a mat-raised-button color="primary" routerLink="/login">
        <mat-icon>arrow_back</mat-icon>
        {{ 'AUTH.BACK_TO_LOGIN' | translate }}
      </a>
    </div>
  </div>
} @else {
  <div class="callback-container">
    <mat-spinner diameter="48"></mat-spinner>
    <p>{{ 'AUTH.AUTHENTICATING' | translate }}</p>
  </div>
}
