<h2 mat-dialog-title>{{ 'FORT_CHANGES.EDIT_DIALOG_TITLE' | translate }}</h2>
<mat-dialog-content>
  <mat-tab-group animationDuration="200ms" class="alarm-tabs">
    <!-- Tab 1: Settings -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>tune</mat-icon>
        <span class="tab-label">{{ 'RAIDS.TAB_SETTINGS' | translate }}</span>
      </ng-template>
      <div class="tab-content">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'FORT_CHANGES.FORT_TYPE_LABEL' | translate }}</mat-label>
          <mat-select [formControl]="form.controls.fortType">
            <mat-option value="everything">{{ 'FORT_CHANGES.FORT_EVERYTHING' | translate }}</mat-option>
            <mat-option value="pokestop">{{ 'FORT_CHANGES.FORT_POKESTOP' | translate }}</mat-option>
            <mat-option value="gym">{{ 'FORT_CHANGES.FORT_GYM' | translate }}</mat-option>
          </mat-select>
        </mat-form-field>

        <h4>{{ 'FORT_CHANGES.CHANGE_TYPES_LABEL' | translate }}</h4>
        <div class="change-type-grid">
          <mat-checkbox [formControl]="form.controls.changeTypeName">{{ 'FORT_CHANGES.CHANGE_NAME' | translate }}</mat-checkbox>
          <mat-checkbox [formControl]="form.controls.changeTypeLocation">{{ 'FORT_CHANGES.CHANGE_LOCATION' | translate }}</mat-checkbox>
          <mat-checkbox [formControl]="form.controls.changeTypeImageUrl">{{ 'FORT_CHANGES.CHANGE_IMAGE' | translate }}</mat-checkbox>
          <mat-checkbox [formControl]="form.controls.changeTypeRemoval">{{ 'FORT_CHANGES.CHANGE_REMOVAL' | translate }}</mat-checkbox>
          <mat-checkbox [formControl]="form.controls.changeTypeNew">{{ 'FORT_CHANGES.CHANGE_NEW' | translate }}</mat-checkbox>
        </div>

        <mat-slide-toggle [formControl]="form.controls.includeEmpty" class="include-empty-toggle">
          {{ 'FORT_CHANGES.INCLUDE_EMPTY' | translate }}
        </mat-slide-toggle>
      </div>
    </mat-tab>

    <!-- Tab 2: Delivery -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>notifications</mat-icon>
        <span class="tab-label">{{ 'RAIDS.TAB_DELIVERY' | translate }}</span>
      </ng-template>
      <div class="tab-content">
        <app-scope-picker [(scope)]="scope" />

        <h4>{{ 'ALARM.MESSAGE_SETTINGS' | translate }}</h4>

        <app-template-selector
          [alarmType]="'fort-update'"
          [value]="form.controls.template.value ?? ''"
          (valueChange)="form.controls.template.setValue($event)">
        </app-template-selector>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close(false)">{{ 'ALARM.CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="saving()">
    {{ saving() ? ('ALARM.SAVING' | translate) : ('ALARM.SAVE' | translate) }}
  </button>
</mat-dialog-actions>
