<h2 mat-dialog-title>{{ 'LURES.ADD_DIALOG_TITLE' | translate }}</h2>
<mat-dialog-content>
  <mat-tab-group animationDuration="200ms" class="alarm-tabs">
    <!-- Tab 1: Lures -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>place</mat-icon>
        <span class="tab-label">{{ 'LURES.TAB_LURES' | translate }}</span>
      </ng-template>
      <div class="tab-content">
        <h4>{{ 'LURES.LURE_TYPES' | translate }}</h4>
        <div class="lure-grid">
          @for (lure of lureTypes; track lure.id) {
            <mat-checkbox [checked]="selectedLureIds().includes(lure.id)" (change)="toggleLure(lure.id)">
              <span class="lure-label"><img [src]="getLureIcon(lure.id)" class="lure-option-icon" />{{ lure.name }}</span>
            </mat-checkbox>
          }
        </div>
        @if (selectedLureIds().length > 0) {
          <p class="selection-count">{{ 'LURES.TYPES_SELECTED' | translate: { count: selectedLureIds().length } }}</p>
        }
      </div>
    </mat-tab>

    <!-- Tab 2: Delivery -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>notifications</mat-icon>
        <span class="tab-label">{{ 'POKEMON.TAB_DELIVERY' | translate }}</span>
      </ng-template>
      <div class="tab-content">
        <app-scope-picker [(scope)]="scope" />
        <h4>{{ 'ALARM.MESSAGE_SETTINGS' | translate }}</h4>
        <app-template-selector
          [alarmType]="'lure'"
          [value]="form.controls.template.value ?? ''"
          (valueChange)="form.controls.template.setValue($event)"></app-template-selector>
        <mat-slide-toggle [formControl]="form.controls.clean"> {{ 'ALARM.CLEAN_MODE' | translate }} </mat-slide-toggle>
        <p class="clean-hint">{{ 'ALARM.CLEAN_HINT_LURE' | translate }}</p>
        <mat-slide-toggle [formControl]="form.controls.editInPlace"> {{ 'LURES.EDIT_MODE' | translate }} </mat-slide-toggle>
        <p class="clean-hint">{{ 'LURES.EDIT_HINT' | translate }}</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close(false)">{{ 'COMMON.CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="saving() || selectedLureIds().length === 0">
    {{ saving() ? ('COMMON.SAVING' | translate) : ('COMMON.SAVE' | translate) }}
  </button>
</mat-dialog-actions>
