<h2 mat-dialog-title>{{ (isEdit ? 'QUICK_PICKS.EDIT_DIALOG_TITLE' : 'QUICK_PICKS.CREATE_DIALOG_TITLE') | translate }}</h2>

<mat-dialog-content>
  <form [formGroup]="mainForm">
    <mat-form-field class="full-width">
      <mat-label>{{ 'QUICK_PICKS.FIELD_NAME' | translate }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>{{ 'QUICK_PICKS.FIELD_DESCRIPTION' | translate }}</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <div class="form-row">
      <mat-form-field>
        <mat-label>{{ 'QUICK_PICKS.FIELD_ICON' | translate }}</mat-label>
        <input matInput formControlName="icon" />
        <mat-icon matSuffix>{{ mainForm.controls.icon.value }}</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'QUICK_PICKS.FIELD_CATEGORY' | translate }}</mat-label>
        <mat-select formControlName="category">
          @for (cat of categories; track cat) {
            <mat-option [value]="cat">{{ cat }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>{{ 'QUICK_PICKS.FIELD_ALARM_TYPE' | translate }}</mat-label>
        <mat-select formControlName="alarmType">
          @for (type of alarmTypes; track type) {
            <mat-option [value]="type">{{ type }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'QUICK_PICKS.FIELD_SORT_ORDER' | translate }}</mat-label>
        <input matInput type="number" formControlName="sortOrder" />
      </mat-form-field>
    </div>

    <mat-slide-toggle formControlName="enabled">{{ 'COMMON.ENABLED' | translate }}</mat-slide-toggle>
  </form>

  <div class="filter-section">
    <h3>{{ 'QUICK_PICKS.FILTER_SETTINGS' | translate }}</h3>

    @switch (currentAlarmType) {
      @case ('monster') {
        <form [formGroup]="monsterForm">
          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_POKEMON_ID' | translate }}</mat-label>
              <input matInput type="number" formControlName="pokemonId" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_FORM' | translate }}</mat-label>
              <input matInput type="number" formControlName="form" />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_MIN_IV' | translate }}</mat-label>
              <input matInput type="number" formControlName="minIv" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_MAX_IV' | translate }}</mat-label>
              <input matInput type="number" formControlName="maxIv" />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_MIN_CP' | translate }}</mat-label>
              <input matInput type="number" formControlName="minCp" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_MAX_CP' | translate }}</mat-label>
              <input matInput type="number" formControlName="maxCp" />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_MIN_LEVEL' | translate }}</mat-label>
              <input matInput type="number" formControlName="minLevel" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_MAX_LEVEL' | translate }}</mat-label>
              <input matInput type="number" formControlName="maxLevel" />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_MIN_WEIGHT' | translate }}</mat-label>
              <input matInput type="number" formControlName="minWeight" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_MAX_WEIGHT' | translate }}</mat-label>
              <input matInput type="number" formControlName="maxWeight" />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_GENDER' | translate }}</mat-label>
              <input matInput type="number" formControlName="gender" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_MIN_SIZE' | translate }}</mat-label>
              <input matInput type="number" formControlName="size" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_MAX_SIZE' | translate }}</mat-label>
              <input matInput type="number" formControlName="maxSize" />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'POKEMON.PVP_LEAGUE' | translate }}</mat-label>
              <input matInput type="number" formControlName="pvpRankingLeague" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'POKEMON.PVP_BEST_RANK' | translate }}</mat-label>
              <input matInput type="number" formControlName="pvpRankingBest" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'POKEMON.PVP_WORST_RANK' | translate }}</mat-label>
              <input matInput type="number" formControlName="pvpRankingWorst" />
            </mat-form-field>
          </div>

          <mat-form-field>
            <mat-label>{{ 'POKEMON.PVP_MIN_CP' | translate }}</mat-label>
            <input matInput type="number" formControlName="pvpRankingMinCp" />
          </mat-form-field>
        </form>
      }

      @case ('raid') {
        <form [formGroup]="raidForm">
          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_POKEMON_ID' | translate }}</mat-label>
              <input matInput type="number" formControlName="pokemonId" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'RAIDS.RAID_LEVEL_LABEL' | translate }}</mat-label>
              <input matInput type="number" formControlName="level" />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'RAIDS.TEAM_LABEL' | translate }}</mat-label>
              <input matInput type="number" formControlName="team" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_EXCLUSIVE' | translate }}</mat-label>
              <input matInput type="number" formControlName="exclusive" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_FORM' | translate }}</mat-label>
              <input matInput type="number" formControlName="form" />
            </mat-form-field>
          </div>
        </form>
      }

      @case ('egg') {
        <form [formGroup]="eggForm">
          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'RAIDS.RAID_LEVEL_LABEL' | translate }}</mat-label>
              <input matInput type="number" formControlName="level" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'RAIDS.TEAM_LABEL' | translate }}</mat-label>
              <input matInput type="number" formControlName="team" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_EXCLUSIVE' | translate }}</mat-label>
              <input matInput type="number" formControlName="exclusive" />
            </mat-form-field>
          </div>
        </form>
      }

      @case ('quest') {
        <form [formGroup]="questForm">
          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_REWARD_TYPE' | translate }}</mat-label>
              <input matInput type="number" formControlName="rewardType" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_REWARD' | translate }}</mat-label>
              <input matInput type="number" formControlName="reward" />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_POKEMON_ID' | translate }}</mat-label>
              <input matInput type="number" formControlName="pokemonId" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_SHINY' | translate }}</mat-label>
              <input matInput type="number" formControlName="shiny" />
            </mat-form-field>
          </div>
        </form>
      }

      @case ('invasion') {
        <form [formGroup]="invasionForm">
          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_GRUNT_TYPE' | translate }}</mat-label>
              <input matInput formControlName="gruntType" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_GENDER' | translate }}</mat-label>
              <input matInput type="number" formControlName="gender" />
            </mat-form-field>
          </div>
        </form>
      }

      @case ('lure') {
        <form [formGroup]="lureForm">
          <mat-form-field>
            <mat-label>{{ 'QUICK_PICKS.FIELD_LURE_ID' | translate }}</mat-label>
            <input matInput type="number" formControlName="lureId" />
          </mat-form-field>
        </form>
      }

      @case ('nest') {
        <form [formGroup]="nestForm">
          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_POKEMON_ID' | translate }}</mat-label>
              <input matInput type="number" formControlName="pokemonId" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'NESTS.MIN_SPAWNS_HR' | translate }}</mat-label>
              <input matInput type="number" formControlName="minSpawnAvg" />
            </mat-form-field>
          </div>
        </form>
      }

      @case ('gym') {
        <form [formGroup]="gymForm">
          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'RAIDS.TEAM_LABEL' | translate }}</mat-label>
              <input matInput type="number" formControlName="team" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'GYMS.TRACK_SLOT_CHANGES' | translate }}</mat-label>
              <input matInput type="number" formControlName="slotChanges" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'GYMS.TRACK_BATTLE_CHANGES' | translate }}</mat-label>
              <input matInput type="number" formControlName="battleChanges" />
            </mat-form-field>
          </div>
        </form>
      }

      @case ('maxbattle') {
        <form [formGroup]="maxBattleForm">
          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_POKEMON_ID' | translate }}</mat-label>
              <input matInput type="number" formControlName="pokemonId" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'MAX_BATTLES.BATTLE_LEVEL' | translate }}</mat-label>
              <input matInput type="number" formControlName="level" />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'MAX_BATTLES.GIGANTAMAX_ONLY' | translate }}</mat-label>
              <input matInput type="number" formControlName="gmax" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'POKEMON.LABEL_FORM' | translate }}</mat-label>
              <input matInput type="number" formControlName="form" />
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_MOVE' | translate }}</mat-label>
              <input matInput type="number" formControlName="move" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'QUICK_PICKS.FIELD_EVOLUTION' | translate }}</mat-label>
              <input matInput type="number" formControlName="evolution" />
            </mat-form-field>
          </div>
        </form>
      }
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'COMMON.CANCEL' | translate }}</button>
  <button mat-flat-button color="primary" [disabled]="mainForm.invalid || saving()" (click)="save()">
    @if (saving()) {
      <mat-spinner class="btn-spinner" diameter="18"></mat-spinner>
    }
    {{ (isEdit ? 'COMMON.SAVE' : 'PROFILES.CREATE') | translate }}
  </button>
</mat-dialog-actions>
