<label class="rsvp-label" [id]="labelId">{{ 'RAIDS.RSVP_LABEL' | translate }}</label>
<mat-button-toggle-group [formControl]="control()" [attr.aria-labelledby]="labelId" vertical class="rsvp-toggle-group">
  <mat-button-toggle [value]="0">
    <mat-icon>notifications</mat-icon>
    <span class="rsvp-toggle-text">
      <span class="rsvp-toggle-label">{{ 'RAIDS.RSVP_OFF' | translate }}</span>
      <span class="rsvp-toggle-desc">{{ 'RAIDS.RSVP_OFF_DESC' | translate }}</span>
    </span>
  </mat-button-toggle>
  <mat-button-toggle [value]="1">
    <mat-icon>how_to_reg</mat-icon>
    <span class="rsvp-toggle-text">
      <span class="rsvp-toggle-label">{{ 'RAIDS.RSVP_INCLUDE' | translate }}</span>
      <span class="rsvp-toggle-desc">{{ 'RAIDS.RSVP_INCLUDE_DESC' | translate }}</span>
    </span>
  </mat-button-toggle>
  <mat-button-toggle [value]="2">
    <mat-icon>groups</mat-icon>
    <span class="rsvp-toggle-text">
      <span class="rsvp-toggle-label">{{ 'RAIDS.RSVP_ONLY' | translate }}</span>
      <span class="rsvp-toggle-desc">{{ 'RAIDS.RSVP_ONLY_DESC' | translate }}</span>
    </span>
  </mat-button-toggle>
</mat-button-toggle-group>
<p class="rsvp-hint">{{ 'RAIDS.RSVP_HINT' | translate }}</p>
