<h2 mat-dialog-title>{{ (data.type === 'raid' ? 'RAIDS.EDIT_RAID_TITLE' : 'RAIDS.EDIT_EGG_TITLE') | translate }}</h2>
<mat-dialog-content>
  <div class="item-header">
    <img [src]="getImage()" [alt]="getTitle()" class="item-img" (error)="onImageError($event)" />
    <div>
      <h3>{{ getTitle() }}</h3>
      <span class="item-subtitle">{{ 'RAIDS.LEVEL_PREFIX' | translate }} {{ data.item.level }}</span>
    </div>
  </div>

  <mat-tab-group animationDuration="200ms" class="alarm-tabs">
    <!-- Tab 1: Settings -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>tune</mat-icon>
        <span class="tab-label">{{ 'RAIDS.TAB_SETTINGS' | translate }}</span>
      </ng-template>
      <div class="tab-content">
        <app-raid-settings-section [teamControl]="form.controls.team" [rsvpControl]="form.controls.rsvpChanges" [(gymId)]="selectedGymId" />
      </div>
    </mat-tab>

    <!-- Tab 2: Delivery -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>notifications</mat-icon>
        <span class="tab-label">{{ 'RAIDS.TAB_DELIVERY' | translate }}</span>
      </ng-template>
      <div class="tab-content">
        <app-raid-delivery-section
          [distanceMode]="form.controls.distanceMode"
          [distanceKm]="form.controls.distanceKm"
          [ping]="form.controls.ping"
          [template]="form.controls.template"
          [clean]="form.controls.clean"
          [showPing]="isWebhook"
          [alarmType]="data.type === 'egg' ? 'egg' : 'raid'" />
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close(false)">{{ 'ALARM.CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="saving()">
    {{ (saving() ? 'ALARM.SAVING' : 'ALARM.SAVE') | translate }}
  </button>
</mat-dialog-actions>
